@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

body{
    background-color: rgb(229, 229, 229);
    font-family: "Didact Gothic";
    text-decoration: none;
    margin-right: 15%;
    margin-left: 15%;
    display: flex;
    justify-content: center;
    height:100%;
}

#keyboard{
    position: absolute;
    height: 200px;
    border: 3px solid rgb(158, 158, 158);
    top: 45%;
    border-radius: 2px;
}

.whitenote{
    position: relative;
    height: 100%;
    width: 50px;
    float: left;
    border: 1px solid rgb(158, 158, 158);
    transition: 150ms;
}

.blacknote{
    position: absolute;
    height: 65%;
    width: 55%;
    z-index: 1;
    left: 68%;
    border: 1px solid rgb(158, 158, 158);
    background-color: rgb(158, 158, 158);
}

.osc{
    position: absolute;
    border: 2px solid rgb(158, 158, 158);
    list-style: none;
    top: 20%;
    text-align: center;
    font-size: 150%;
    padding: 10px;
    font-weight: 400;
    width: 200px;

}

.osctype{
    font-size:90%;
    background-color: rgb(229, 229, 229);
    
}

.osc .osctype .oscbuttons{
    height: 20px;
    background-color: rgb(229, 229, 229);
    border: none;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    transition: 250ms;
    font-family: "didact gothic";
}

.osc .osctype .oscbuttons[data-active = true]{
    color: #fff;
    background-color: #18c947;
}

@media screen and (max-width: 900px) {
    .whitenote{
        width: 25px
    }
}