@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

*{
    font-family: "Didact Gothic";
    text-decoration: none;
}

body{
    position: relative;
    background-color: rgb(229, 229, 229);
    margin-right: 15%;
    margin-left: 15%;
    display: flex;
    justify-content: space-evenly;
    height:100%;
}

.controls{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 60%;
}

#keyboard{
    position: absolute;
    height: 200px;
    border: 3px solid rgb(158, 158, 158);
    margin-top: 40%;
    border-radius: 2px;
}

.whitenote{
    position: relative;
    height: 100%;
    width: 50px;
    float: left;
    border: 1px solid rgb(158, 158, 158);
    transition: 150ms;
}

.blacknote{
    position: absolute;
    height: 65%;
    width: 55%;
    z-index: 1;
    left: 68%;
    border: 1px solid rgb(158, 158, 158);
    background-color: rgb(158, 158, 158);
    transition: 150ms;
}

.osc-container{
    position: static;
    border: 2px solid rgb(158, 158, 158);
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    padding: 10px;
    width: 150px;
    height: 160px;
}

.osc-header{
    font-size: 28.8px;
    text-align: center;
    margin: 0%;
    font-weight: 400;
}

.osctypes{
    font-size:90%;
    background-color: rgb(229, 229, 229);
    text-align: center; 
}

.osc-container .osctypes .oscbuttons{
    height: 20px;
    background-color: rgb(229, 229, 229);
    border: none;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    transition: 250ms;
    font-family: "didact gothic";
    margin-top: 5%;
}

.osc-container .osctypes .oscbuttons[data-active = true]{
    color: #fff;
    background-color: #18c947;
}

.volume-container{
    display: block;
    width: 50%;
    position: absolute;
}

.volume-header{
    position: relative;
    top: 5%;
    text-align: center;
    font-size: 110%;
    font-weight: 500;
}

.volume{
    -webkit-appearance: none;
    width: 100%;
    background: linear-gradient(-90deg,#18c947 60%, rgb(158, 158, 158) 60%);
    outline: none;
    transition: 200ms;
    height: 4px;
    opacity: 0.7;
    cursor: pointer;
}

.volume:hover{
    opacity: 1;
    height: 8px
}

.volume::-moz-range-thumb{
    width: 10px;
    height: 10px;
    background: linear-gradient(90deg,#18c947 0%, rgb(158, 158, 158) 90%);
    cursor: grab
}

.volume::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: linear-gradient(-90deg,#18c947 60%, rgb(158, 158, 158) 60%);
    cursor: grab
}

.envelope-container{
    position: static;
    border: 2px solid rgb(158, 158, 158);
    list-style: none;
    font-size: 150%;
    padding: 10px;
    font-weight: 400;
    width: 300px;
    height: 160px;
    overflow: hidden;
    align-content: center;
    margin-top: 20%;
}

.envelope-controls-container-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.envelope-controls-container{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.envelope-header{
    font-weight: 400;
    text-align: center;
    margin: 0%;
    font-size: 28.8px;
}

.envelope-controls{
    text-align: center;
    position:relative;
}

.envelope{
    width: 20px;
    height: 25%;
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    background: black;
    margin-top: 30%;
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
}

.envelope::-moz-range-thumb{

}
.envelope::-webkit-slider-thumb{

}

@media screen and (max-width: 1024px) {
    body{
        margin-left: 8%;
        margin-right: 8%;
    }

    #keyboard{
        margin-top: 50%
    }

    .osc-container{
        height: 140px
    }

    .envelope-controls-container-container{
        margin-left: 0%;
        height: 140px
    }
}