@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

*{
    font-family: "Didact Gothic";
    text-decoration: none;
}

html{
    --bg: rgb(229, 229, 229);
    --accent: #18c947;
    --pannel: rgb(158, 158, 158);
    --text: black;
    --altText: white;
}

html[data-theme="dark"]{
    --bg: #121212;
    --accent: #03DAC5;
    --pannel: #333333;
    --text: #FFFFFF;
    --altText: #121212;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

body{
    position: relative;
    background-color: var(--bg);
    margin-right: 15%;
    margin-left: 15%;
    height:100%;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--accent);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}

.controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60%;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 60px;
}

.keyboard-controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap
}

#keyboard{
    position: static;
    height: 200px;
    border: 3px solid var(--pannel);
    border-radius: 2px;
    max-width: max-content;
    margin-left: auto;
    margin-top: 5%;
    display: flex;
}

.whitenote{
    position: relative;
    height: 100%;
    width: 50px;
    float: left;
    border: 1px solid var(--pannel);
    transition: 150ms;
}

.blacknote{
    position: absolute;
    height: 65%;
    width: 55%;
    z-index: 1;
    left: 68%;
    border: 1px solid var(--pannel);
    background-color: var(--pannel);
    transition: 150ms;
}

.octave-controls-container{
    text-align: center;
    margin-top: 5%;
    font-size: 21px;
    border: 2px solid var(--pannel);
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: max-content;
}

.octave-controls{
    padding: 10px;
    animation: 250ms;
}
.output-container{
    display: flex;
    justify-content: center;
    height: 100%;
    width: max-content;
    border: 2px solid var(--pannel);
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.visz{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.oscilloscope{
    margin-right: 5px;
}

.meter{
    border: 1px solid var(--pannel)
}
.osc-container{
    position: static;
    border: 2px solid var(--pannel);
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 150px;
}

.osctypes{
    font-size:90%;
    background-color: var(--bg);
    text-align: center;
    margin-bottom: 10px;
}

.osc-container .osctypes .oscbuttons{
    height: 20px;
    background-color: var(--bg);
    border: none;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    transition: 250ms;
    font-family: "didact gothic";
    margin-top: 5%;
    color: var(--text)
}

.osc-container .osctypes .oscbuttons[data-active = true]{
    color: var(--altText);
    background-color: var(--accent);
}

.envelope-container{
    position: static;
    border: 2px solid var(--pannel);
    list-style: none;
    font-size: 150%;
    padding: 10px;
    font-weight: 400;
    width: 300px;
    height: 160px;
    overflow: hidden;
    align-content: center;
}

.envelope-controls-container-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.envelope-controls-container{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.patch-header{
    font-weight: 400;
    text-align: center;
    margin: 0%;
    font-size: 28.8px;
    color: var(--text)
}

.envelope-controls{
    text-align: center;
    position:relative;
    color: var(--text)
}

.filter-container-container{
    border: 2px solid var(--pannel);
    padding: 10px;
}

.filter-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    body{
        margin-left: 8%;
        margin-right: 8%;
    }
}