@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

*{
    font-family: "Didact Gothic";
    text-decoration: none;
}

html{
    --bg: rgb(229, 229, 229);
    --accent: #18c947;
    --pannel: rgb(158, 158, 158);
    --text: black;
    --altText: white;
    --invert: invert(100);
}

html[data-theme="dark"]{
    --bg: #121212;
    --accent: #03DAC5;
    --pannel: #333333;
    --text: #FFFFFF;
    --altText: #121212;
    --invert: invert(0);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

body{
    position: relative;
    background-color: var(--bg);
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 10%;
    height:100%;
    overflow-x: visible;
}

a{
    color: inherit;
}

.patch-header{
    font-weight: 400;
    text-align: center;
    margin: 0%;
    font-size: 28.8px;
    color: var(--text)
}

.menu-container{
    top: 0;
    display: flex;
    height: 60px;
    justify-content: flex-start;
    position: fixed;
    z-index: 10000;
    width: 70%;
}

.menu-header{
    display: flex;
    justify-content: flex-start;
    height: 55px;
    width: auto;
    margin-right: auto;
    align-self: center;
}

#sine-head{
    max-width: 50%;
    max-height: 100%;
    vertical-align: middle;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    filter: var(--invert);
}

.websynth-header{
    font-weight: normal;
    font-size: larger;
    color: var(--text);
    cursor: pointer;
}

.sharepoint-container{
    display: flex;
    align-items: center;
}

.fa-external-link-square-alt{
    padding-left: 3px;
    color: var(--text);
}

.hamburger{
    width: 30px;
    height: 30px;
    margin-left: 3px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 5;
    align-self: center;
}

.line{
    width: 100%;
    height: 3px;
    background-color: var(--accent);
    transition: all 250ms;
}

.menu{
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: 250ms;
    transition-property: opacity;
    z-index: -1;
}

.appear{
    opacity: 1;
    z-index: 4;
}

.menu-list{
    width: 320px;
    height: 100%;
    list-style: none;
    position: absolute;
    top: 100px;
    z-index: 4;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu-item{
    color: var(--text);
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 20px;
    margin-top: 16.6px ;
    margin-bottom: 16.6px ;
    cursor: pointer;
}

.menu-item .load{
    cursor: pointer
}

.change .line-1{
    transform: rotateZ(-45deg) translate(-8px, 6px);
}

.change .line-2{
    opacity: 0;
}

.change .line-3{
    transform: rotateZ(45deg) translate(-8px, -6px);
}

.blur{
    filter: blur(4px);
    transition: all 250ms;
}

.dark-mode-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.dark-mode-header{
    font-weight: 300;
    font-size: 20px;
    color: var(--text);
    letter-spacing: 2px;
    display: inline-block;
}

.dark-mode-toggle{
    padding-top: 16.6px ;
}

input[type=checkbox]{
	height: 0;
	width: 0;
}

#switch{
    visibility: hidden;
}

.toggle {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: grey;
	float: right;
	border-radius: 100px;
    position: relative;
}

.toggle:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
    height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--accent);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.toggle:active:after {
	width: 45px;
}

.controls{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 180px;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 60px;
}

.keyboard-controls{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

#keyboard{
    position: static;
    height: 200px;
    border: 3px solid var(--pannel);
    border-radius: 2px;
    max-width: max-content;
    margin-left: auto;
    margin-top: 5%;
    display: flex;
}

.whitenote{
    position: relative;
    height: 100%;
    width: 50px;
    float: left;
    border: 1px solid var(--pannel);
    transition: 150ms;
}

.blacknote{
    position: absolute;
    height: 65%;
    width: 55%;
    z-index: 1;
    left: 68%;
    border: 1px solid var(--pannel);
    background-color: var(--pannel);
    transition: 150ms;
}

.octave-controls-container{
    text-align: center;
    margin-top: 5%;
    font-size: 21px;
    border: 2px solid var(--pannel);
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: max-content;
}

.octave-controls{
    padding: 10px;
    animation: 250ms;
}
.output-container{
    display: flex;
    justify-content: center;
    height: 100%;
    width: max-content;
    border: 2px solid var(--pannel);
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.visz{
    display: flex;  
    justify-content: space-between;
}

.oscilloscope{
    margin-right: 5px;
}

.meter{
    border: 1px solid var(--pannel)
}

.osc-container{
    position: static;
    border: 2px solid var(--pannel);
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    width: 150px;
    height: 100%;
}

.osctypes{
    font-size:90%;
    background-color: var(--bg);
    text-align: center;
    margin-bottom: 10px;
}

.osc-container .osctypes .oscbuttons{
    height: 20px;
    background-color: var(--bg);
    border: none;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    transition: 250ms;
    font-family: "didact gothic";
    margin-top: 5%;
    color: var(--text)
}

.osc-container .osctypes .oscbuttons[data-active = true]{
    color: var(--altText);
    background-color: var(--accent);
}

.envelope-container{
    position: static;
    border: 2px solid var(--pannel);
    list-style: none;
    font-size: 150%;
    padding: 10px;
    font-weight: 400;
    width: 300px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.envelope-controls-container-container{
    display: flex;
    justify-content: space-evenly;
}

.envelope-controls-container{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.envelope-controls{
    text-align: center;
    position:relative;
    color: var(--text)
}

.filter-container-container{
    border: 2px solid var(--pannel);
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filter-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.lfo-container-container{
    border: 2px solid var(--pannel);
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.lfo-container{
    display: flex;
    justify-content: center;
}

.lfo{
    text-align: center;
    padding: 2px;
    color: var(--text)
}

.dest-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    font-size: 90%;
}

@media screen and (max-width: 1024px) {
    body{
        margin-left: 8%;
        margin-right: 8%;
    }
}